@using CodingEvents.Models

@model List<Event>

@{
    <div><partial name="/Views/Shared/_LinkListPartial.cshtml" /></div>
}

<br /><br /><img src="~/images/testimage.png"><br /><br />



    <h1>Coding Events</h1>

    <p>
        <a asp-controller="Events" asp-action="Add">Add Event</a>
    </p>

    <p> 
        <a asp-controller="Events" asp-action="Delete">Delete Event</a>
    </p>

    @if (Model.Count == 0)
{
    <p>No events yet!</p>
}

<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">
            Event ID
        </th>
         <th scope="col">
            Name
        </th>
        <th scope="col">
            Description
        </th>
        <th scope="col">
            Contact Email
        </th>
        <th scope="col">
            Location
        </th>
        <th scope="col">
            Number of Attendees
        </th>
    </tr>
    </thead>
    <tbody>

        @foreach (var evt in Model)
        {   
            <tr>
                <th scope="row">@evt.Id</th>
                <th scope="row">@evt.Name</th>
                <th scope="row">@evt.Description</th>
                <th scope="row">@evt.ContactEmail</th
                <th scope="row">@evt.Location</th>
                <th scope="row">@evt.NumberofAttendees</th>

                <th scope="row"><a asp-controller="Events" asp-action="Edit" asp-route-id="@evt.Id">Edit Event</a></th>
            </tr>
        }

    </tbody>
</table>

